{{!-- This is where the ongoing story comments will appear
HTML --}}

{{!-- <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-end">
      <a class="navbar-item">

    </div>
    </a>
  </div>
  </div>
</nav> --}}



<section class="section is-paddingless-horizontal">
  <div class="container grid-xl">
    <div class="columns is-mobile">
      <div class="column is-full-width">
        <div class="notification has-background-black-bis">
          {{post.date}}

          <form id="new-post-form">
            <div class="field center">
              <div class="control">
                <input type="text" name="post-title" placeholder="Add Title Here">
              </div>
            </div>

            <textarea class='form-control' name="post-body" placeholder="Once upon a time..."></textarea>

            <p class='has-text-white-bis center'>Character limit 1500</p>

            <div class="buttons center">
              <div class="text-right">
                <button type="submit" class="button is-success is-light ">Continue Story</button>
              </div>
            </div>


          </form>

          {{#each stories}}
          <h3>{{title}} by {{user.username}} on {{format_date date_created}}</h3>
          <p>{{content}}</p>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section>



<script src="js/homepage.js"></script> <a href="{{post.url}}" class="lead">{{post.title}}</a>