{{!-- This is where the ongoing story comments will appear
HTML --}}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    {{post.date}}
    <form id="new-post-form"> 
      <input type="text" name="post-title">
      <textarea class='form-control' name="post-body" placeholder="Comment"></textarea>
      <p>Character limit 1500</p> 
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Continue Story</button>
      </div>
    </form>
    {{#each stories}} 
    <h3>{{title}} by {{user.username}} on {{format_date date_created}}</h3>
    <p>{{content}}</p>
    {{/each}}
  </div>
</div>

<script src="js/homepage.js"></script>